<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Save Our Environment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body data-new-gr-c-s-check-loaded="14.993.0" data-gr-ext-installed="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px grey solid;">
        <a class="navbar-brand" style="font-weight: 600;" href="/">Let's Save Our Environment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav m-auto">
            
            <li class="">
              <a class="nav-link" href="/" style="font-weight: 500;">Home</a>
            </li>
            <li class="">
              <a class="nav-link" href="/templates/post_view.html" style="font-weight: 500;">Posts</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="" style="font-weight: 500;">Events</a>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link" href="/templates/regi_logi.html" style="font-weight: 500;">Registration/Login</a>
            </li>
            
          </ul>
        </div>
      </nav>
    
<div class="event_view" style="background-color: lightgrey;">
    <div class="container">
        <div class="text-center">
            <h3><span class="badge badge-success">Upcoming Events</span></h3>
        </div>
        <hr>
        <div class="row pb-3">
            
                <div class="col-lg-3 col-md-4 mb-2">
                    <div class="card h-100 bg-dark text-white">
                        <div class="card-body text-center">
                            <h5><strong>Tree Plantation In Rajshahi City</strong></h5>
                            <h6>Start: <span class="text-warning">March 15, 2021</span></h6>
                            <h6>End: <span class="text-warning">March 20, 2021</span></h6>
                            <h6>Event By: <a href="/templates/profile_view/7.html">cleaner06</a></h6>
                            <h6>Target Amount: <span class="btn btn-primary btn-sm p-0" style="font-weight: 600;">3000.00</span> Taka</h6>
                            <h6>Present Amount: <span class="btn btn-success btn-sm p-0" style="font-weight: 600;">780.00</span> Taka</h6>
                            <form action="/templates/event1.html">
                                <input type="submit" value="Contribute/Details" class="btn btn-danger py-0" style="font-weight: 600;">
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-4 mb-2">
                    <div class="card h-100 bg-dark text-white">
                        <div class="card-body text-center">
                            <h5><strong>Set up toilet in Slum Area</strong></h5>
                            <h6>Start: <span class="text-warning">Feb. 25, 2021</span></h6>
                            <h6>End: <span class="text-warning">Feb. 28, 2021</span></h6>
                            <h6>Event By: <a href="/templates/profile_view/10.html">team_alpha</a></h6>
                            <h6>Target Amount: <span class="btn btn-primary btn-sm p-0" style="font-weight: 600;">5000.00</span> Taka</h6>
                            <h6>Present Amount: <span class="btn btn-success btn-sm p-0" style="font-weight: 600;">600.00</span> Taka</h6>
                            <form action="/templates/event2.html">
                                <input type="submit" value="Contribute/Details" class="btn btn-danger py-0" style="font-weight: 600;">
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="text-center">
                <h3><span class="badge badge-warning">Previous Events</span></h3>
            </div>
        <hr>
        <div class="row pb-3">
        
        <div class="col-lg-3 col-md-4 mb-2">
            <div class="card bg-dark h-100 text-white">
                <div class="card-body text-center">
                    <h5><strong>Garbage Collection In Dhaka College</strong></h5>
                    <h6>Start: <span class="text-warning">Feb. 9, 2021</span></h6>
                            <h6>End: <span class="text-warning">Feb. 8, 2021</span></h6>
                    <h6>Event By: <a href="/templates/profile_view/1.html">mukit24</a></h6>
                    <h6>Target Amount: <span class="btn btn-primary btn-sm p-0" style="font-weight: 600;">500.00</span> Taka</h6>
                    <h6>Present Amount: <span class="btn btn-success btn-sm p-0" style="font-weight: 600;">450.00</span> Taka</h6>
                    <form action="/templates/event3.html">
                        <input type="submit" value="Details" class="btn btn-danger py-0" style="font-weight: 600;">
                    </form>
                </div>
            </div>
        </div>
            
        </div>
        
    </div>
</div>


<script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });

  $(document).ready(function(){
  $("#myInput1").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable1 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(document).ready(function(){
  $("#myInput2").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable2 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>
</body></html>