<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Save Our Environment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body data-new-gr-c-s-check-loaded="14.993.0" data-gr-ext-installed="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px grey solid;">
        <a class="navbar-brand" style="font-weight: 600;" href="/">Let's Save Our Environment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav m-auto">
            
            <li class="">
              <a class="nav-link" href="/" style="font-weight: 500;">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/templates/post_view.html" style="font-weight: 500;">Posts</a>
            </li>
            <li class="">
              <a class="nav-link" href="/templates/event_view.html" style="font-weight: 500;">Events</a>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link" href="/templates/regi_logi.html" style="font-weight: 500;">Registration/Login</a>
            </li>
            
          </ul>
        </div>
      </nav>
    
<div class="post_list" id="post_list" style="background-color: lightgray;">
    <div class="p-2" style="border-bottom: 1px solid gray;">
        <div class="container">
            <div class="text-center">
                <h3><span class="badge badge-primary">Create Your Post</span></h3>
            </div>
            <form action="">
                <input type="hidden" name="csrfmiddlewaretoken" value="zOdvgPm9hKCLMuJcYG5LmrsEGGBkMPrk9OHaMOLyvySoC3FOWD7B8gDpte5eK1sr">
                <div class="form-group mb-0">
                    <textarea name="body" cols="40" rows="2" class="form-control bg-light" placeholder="Write A Caption..." required="" id="id_body"></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group badge badge-dark mb-0">
                            <label style="font-weight: 600;">Add Image: </label>
                            <input type="file" name="image" id="id_image">
                        </div>
                    </div>
                </div>
                <button type="submit" style="font-weight: 600;" class="btn btn-dark btn-sm mt-2">Post</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <h3><span class="badge badge-success">All Posts</span></h3>
        </div>
        
        <div class="media pb-3" id="post26">
            <img src="/media/uploads/couch-conference-concentration-startup-7111_1.jpg" class="mr-3 rounded-circle " style="width:50px;">
            <div class="media-body" style="color: black;font-weight: 600;">
                <h5 style="color: brown;font-weight: 700;"><a style="text-decoration: none;" href="/templates/profile_view/9.html">sajid39</a><small style="color: rgb(126, 54, 54);"><i>
                            Posted on
                            Feb. 7, 2021</i></small></h5>
                <p style="font-size: large;padding-left: 25px;">Thanks to all these people who help to to cleanup my area. Now the environment of my area is looking fresh.</p>
                
                
                <button style="border:none;padding: 0;" type="button" data-toggle="modal" data-target="#image_modal">
                    <div style="height: 200px;width: 200px;">
                        <img id="myImg" src="/media/uploads/thediplomat_2017-03-10_16-40-22.jpg" alt="image" style="width: 100%;
                    height: 100%;
                    object-fit: cover;">
                </div>
                </button>
                
                <div class="modal fade" id="image_modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
    
                            <div class="modal-body">
                                <img src="/media/uploads/thediplomat_2017-03-10_16-40-22.jpg" alt="image" style="width: 100%;
                        height: 100%;
                        object-fit: cover;">
                            </div>
    
                            <div class="modal-footer">
                                <button class="btn btn-success"><a class="text-light" href="/media/uploads/thediplomat_2017-03-10_16-40-22.jpg" download="">Download</a></button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br>
                
                <a href=""><button type="button" class="btn btn-light py-0" style="font-weight: 600;"><i class="fa fa-heart-o" style="font-size: large;"></i> <span class="badge badge-dark">3</span></button></a>
                
                
                <a href="/templates/post6.html"><button type="button" class="btn btn-success btn-sm py-0" style="font-weight: 600;">Comments <span class="badge badge-light">1</span></button></a>
                
            </div>
        </div>
        
        <div class="media pb-3" id="post24">
            <img src="/media/uploads/IMG_20210204_102430_e5YkkWh.jpg" class="mr-3 rounded-circle " style="width:50px;">
            <div class="media-body" style="color: black;font-weight: 600;">
                <h5 style="color: brown;font-weight: 700;"><a style="text-decoration: none;" href="/templates/profile_view/1.html">mukit24</a><small style="color: rgb(126, 54, 54);"><i>
                            Posted on
                            Feb. 6, 2021</i></small></h5>
                <p style="font-size: large;padding-left: 25px;">Plant a tree in front of my high school. Hope this will encourage others people to understand the value of tree plantation.</p>
                
                
                <button style="border:none;padding: 0;" type="button" data-toggle="modal" data-target="#image_modal">
                    <div style="height: 200px;width: 200px;">
                        <img id="myImg" src="/media/uploads/images_2_R5tjPAE.jpg" alt="image" style="width: 100%;
                    height: 100%;
                    object-fit: cover;">
                </div>
                </button>
                
                <div class="modal fade" id="image_modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
    
                            <div class="modal-body">
                                <img src="/media/uploads/images_2_R5tjPAE.jpg" alt="image" style="width: 100%;
                        height: 100%;
                        object-fit: cover;">
                            </div>
    
                            <div class="modal-footer">
                                <button class="btn btn-success"><a class="text-light" href="/media/uploads/images_2_R5tjPAE.jpg" download="">Download</a></button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br>
                
                <a href=""><button type="button" class="btn btn-light py-0" style="font-weight: 600;"><i class="fa fa-heart-o" style="font-size: large;"></i> <span class="badge badge-dark">3</span></button></a>
                
                
                <a href="/templates/post7.html"><button type="button" class="btn btn-success btn-sm py-0" style="font-weight: 600;">Comments <span class="badge badge-light">0</span></button></a>
                
            </div>
        </div>
        
        
        <ul class="pagination justify-content-center">
            
            <li class="page-item"><a class="page-link bg-secondary text-light" href="/templates/post_view.html">Previous</a></li>
            
            
            
            <li class="page-item"><a class="page-link bg-dark text-light" href="/templates/post_view.html">1</a></li>
            
            
            
            <li class="page-item active"><a class="page-link" href="">2</a></li>
            
            
            
        </ul>
        
        <br>
    </div>
</div>


<script>
  $(document).ready(function(){
  $("#myInput1").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable1 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(document).ready(function(){
  $("#myInput2").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable2 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>
</body></html>